@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}
body {
  min-height: 100vh;
  background-color: hsl(0, 0%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  width: 20rem;
  background-color: hsl(0, 0%, 12%);
  border-radius: 0.6rem;
  padding: 2rem;
}
@media (max-width: 25rem) {
  main {
    width: fit-content;
  }
}
.image-conatiner,
h1,
p {
  text-align: center;
}
.profile-picture {
  height: 4.5rem;
  border-radius: 50%;
}
.profile-name {
  font-size: larger;
  margin-bottom: 0.5rem;
}
.location,
.profile-summary {
  font-size: 0.75rem;
}
.location,
.social-profile-link,
.profile-name {
  font-weight: 600;
}
.location {
  color: hsl(75, 94%, 57%);
  margin-top: 0;
  margin-bottom: 1.5rem;
}
.social-profile-link {
  font-size: 0.75rem;
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
  padding: 0.8rem;
  display: block;
  width: 100%;
  border: none;
  margin-bottom: 1rem;
}
.social-profile-link:hover,
.social-profile-link:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 20%);
  cursor: pointer;
}
.profile-summary {
  font-weight: 400;
  margin-bottom: 1.3rem;
}
